.vr-edu-logo-image {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    text-align: left;
    margin-right: auto;
}

.vr-edu-main-heading {
    font-family: "roboto";
    font-size: 25px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 10px;
    width: 180px;
}

.vr-edu-main-container {

    background-image: url("https://res-console.cloudinary.com/dywbhossm/thumbnails/v1/image/upload/v1740496369/SU1HXzIwMjUwMjI1XzIwNDE0NF9pajhsbWs=/drilldown");
    background-size: cover;
    background-position:center;
    padding-bottom: 30px;
   
    height:120vh;
    width:100%;
    
}

.vr-edu-sub-heading {
    font-weight: bold;
    font-family: "roboto";
    color: #ffffff;
}

.vr-edu-sub-heading-container {
    padding: 20px;


}

.combined-container {
    background-image: radial-gradient(#3f9bfc, #94f4f7);
    background-size: cover;
    width: 100%;
}

.vr-edu-frames-container {
    background-image: radial-gradient(#0df7ff, #fae38c);
    background-size: cover;
    padding: 30px;
    width: 40vw;
    min-height:80vh;
    border-radius: 20px;
    margin-left: 35px;
}

.classroom-image {
    height: 150px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.classroom-paragraph {
    color: black;
    text-align: center;
    font-size:25px;
    font-family:"roboto";
}

.vr-edu-classroom-container {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    text-align:center;
    margin-bottom: 60px;
}

.school-image {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.more-frames-container {
    text-align: right;
}

.icon {
    font-size: 5px;
    color: white;
}

.button {
    width: 150px;
    height: 70px;
    background-color: white;
    color: black;
    border-radius: 10px;
    font-family: "roboto";
    font-size:20px;
    padding:10px;
}
